<template>

<div class="container">
    <div class="large-12 medium-12 small-12 cell">
      <label>Outros
        <input type="file" id="files" ref="files" name="files" multiple />
      </label>
    </div>
</div>
</template>


<script>
module.exports = {
        props: ['email', 'senha'],
    
    } 


</script>